{% extends 'layouts/master' %}
{% block content %}
<div class="hop-loyalty">
    <div class="hop-container">
        <h1 class="hop-page-title">{{ trans('loyalty.title') }}</h1>
        <salla-loyalty></salla-loyalty>
    </div>
</div>
{% endblock %}
