{% extends 'layouts/master' %}
{% block content %}
<div class="hop-page">
    <div class="hop-container">
        <h1 class="hop-page-title">{{ page.title }}</h1>
        <div class="hop-prose">{{ page.content }}</div>
    </div>
</div>
{% endblock %}
