<header class="site-header">
  <div class="container header-inner">
    <a class="logo" href="/">{{ store.name }}</a>
    <nav class="nav" data-mobile-menu>
      <a href="/">Home</a>
      <a href="/categories">Collections</a>
    </nav>
    <button class="menu-toggle" type="button" data-menu-toggle aria-label="Toggle menu">Menu</button>
  </div>
</header>
